* {
    font-family: 'Anton', sans-serif;
    background-color:#ddd;
}

/* Common banner for all pages */
#fishbanner {
    font-size: 120px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


#navbar {
    background-color: #777;
    /* border: 1px solid red; */
    height: 60px;
    width: 100%;
}

/* div that holds the list */
#navlist {
    /* display: block;
    background-color: #777;
    margin: 0px;
    padding: 0px;
    width: 100%; */

}

li {
    /* position: relative; */
    float: left;
    /* height: 100%;
    margin-right: 60px; */
    /* padding: 4px; */

}

li a {
    background-color: #777;
    color: white;
    display: block;
    padding: 8px;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
}

div {
    /* border-style: 0px solid; */
    margin: 0px;
    padding: 0px;
}

#content {
    margin: 0 auto;
    overflow: auto;
    padding: 0%;
    width: 90%;
}

#left-bar {
    float: left;
    width: 20%;
    height:100%;
}

#main-area {
    float: left;
    width: 80%;
}

table {
    border-style: solid;
    padding: 5px;
}

th {
    font-style: bold;
}

th, td, .firstCell {
    /* border-style: solid; */
    background-color: #777;
    padding: 10px;
}