* {
    font-family: 'Anton', sans-serif;
    background-color:#ddd;
}

h1 {
    font-size: 4em;
    margin-top: .25em;
    margin-bottom: .25em;
}

h2 {
    font-size: 2em;
    margin-top: .25em;
    margin-bottom: .25em;

}

h3 {
    font-size: 1.5em;
    margin-bottom: .25em;
    margin-top: .25em;
}


/* Common banner for all pages */
#fishbanner {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}


#navbar {
    background-color: #777;
    height: 60px;
    width: 100%;
}

#navlist {
    list-style: none;
}

li {
    float: left;
}

li a {
    background-color: #777;
    color: white;
    display: block;
    padding: 8px;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
}

div {
    margin: 0px;
    padding: 0px;
}

#content {
    margin: 0 auto;
    overflow: auto;
    padding: 0%;
    width: 90%;
}

#left-bar {
    float: left;
    width: 20%;
    height:100%;
}

#main-area {
    float: left;
    width: 80%;
}

table {
    border-style: 1px solid white;
    padding: 5px;
}

th {
    font-style: bold;
}

th, td, .firstCell {
    background-color: #777;
    color: #eee;
    margin: 2px;
    padding: 10px;
}